body {
  font-family: 'Bookman Old Style', sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, .7);
  background-image: url("../zaif.png");
  overflow: hidden;
  -webkit-app-region: drag;  /* ウィンドウごとドラッグできるようにする　*/
  -webkit-user-select: none; /* 表示されている文字をマウスで選択できないようにする　*/
}

#dispChart {
  color: black;
  width: 100%
  height:100%;
  text-align: center;
  font-size: 2rem;
}

.rate-up {
  color: dodgerblue;
}

.rate-down {
  color: red;
}
